*{

    background:url(https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg?w=2000)
}

#link{
    background-color: aliceblue;
}


#cp{
    border-radius: 20px;
}